
/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (max-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (max-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (max-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (max-width: 1200px) {...} */ 



/* Medium devices (landscape tablets, 768px and Down) */

@media only screen and (max-width: 992px){
    section{
        padding: 35px 6%;
    }
    #hero-section{
        padding: 150px 6% 100px;
    }
}

/* Small devices (portrait tablets and large phones, 768px and Down)*/

@media only screen and (max-width: 768px) {

    /* MAIN-MENU RESPONSIVE SECTION START FROM HERE  */
    .main-menu{
        display: none;
    }
    #nav-bar{
        display: inline-block;
    }
    .menuActiveResponsive{
        display: flex !important;
        position: absolute !important;
        top: 100% !important;
        left: 0 !important;
        right: 0 !important;
        background: black !important;
        padding: 0px 9% !important;
        border-top: 1px solid white !important;
    }
    .menuActiveResponsive ul{
        display: block !important;
        width: 100% !important;
    }
    .menuActiveResponsive ul li{
        display: block !important;
    }
    .menuActiveResponsive ul li a{
        display: block !important;
    }
    .menuActiveResponsive ul li a::after{
        width: 100% !important;
        height: 2px !important;
    }
    /* MAIN MENU RESPONSIVE SECTION END HERE */

}


/* Small devices (portrait tablets and large phones, 600px and Down) */

@media only screen and (max-width: 600px) {
    section{
        padding: 20px 5%;
    }
    .button{
        padding: 8px 16px;
    }
    /* HERO SECTION RESPONSIVE START FROM HERE  */
    #hero-section .hero-information{
        width: 100%;
    }
    #hero-section .hero-information h1{
        font-size: 28px;
    }
    #hero-section .hero-information p{
        font-size: 14px;
    }
    /* HERO SECTION RESPONSIVE END HERE */
}


/* FOR EXTRA SMALL DEVICE  */
@media only screen and (max-width: 400px){
    #header{
        top: 0;
    }
    #hero-section{
        padding: 100px 1% 80px;
    }
    #hero-section .hero-information h1{
        font-size: 20px;
    }
    #hero-section .hero-information p{
        font-size: 12px;
    }
}