@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');
/* COMMON CSS START FROM HERE  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: var(--headlineText);
}
a,a:hover{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
ul,ol{
    list-style: none;
}
h1,h2{
    text-transform: uppercase;
}
section{
    padding: 40px 9%;
}
.button{
    background-color: var(--buttonColor);
    padding: 10px 20px;
    border-radius: 5px;
    outline: 0;
    border: 2px solid var(--buttonColor);
    color: var(--white);
    font-family: var(--headlineText);
    margin: 10px 0px;
    transition: all linear 0.2s;
}
.button:hover{
    background: transparent;
    border: 2px solid var(--white);
    border-radius: 0px;
    color: var(--white);
}
/* SOME USEFUL VAR IN CSS STRT FORM HERE  */
:root{
    --mainColor:#e23e38;
    --black:black;
    --buttonColor:#e23e38;
    --shadow:rgba(0, 0, 0, 0.6);
    --white:white;
    /* FONT ROOT CSS START HERE */
    --headlineText:'Oswald', sans-serif;
    --articleText:'Poppins', sans-serif;
    /* FONT ROOT CSS END HERE */
}
/* COMMON CSS END HERE */

/* HEADER SECTION START FROM HERE  */
#header{
    width: 100%;
    height: 60px;
    padding: 0px 9%;
    position: absolute;
    top: 30px;
    background: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.headerActiveTop{
    position: fixed !important;
    top: 0 !important;
    background: var(--black) !important;
}
#header .logo{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--headlineText);
    color: var(--white);
    text-transform: uppercase;
}
#header .logo i{
    color: var(--white);
    margin: 0px 6px;
}
#header .logo span{
    color: var(--mainColor) !important;
}
#header .main-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .main-menu ul li{
    line-height: 60px;
}
#header .main-menu ul li a{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--headlineText);
    color: var(--white);
    position: relative;
    padding: 0px 20px;
}
#header .main-menu ul li a::after{
    position: absolute;
    content: '';
    background: var(--mainColor);
    left:0;
    bottom: 0;
    height: 3px;
    width: 0px;
    transition: all linear 0.3s;
}
#header .main-menu li:hover a{
    background: var(--white);
    color: var(--black);
}
#header .main-menu li:hover a::after{
    width: 100%;
}
#nav-bar {
    padding: 2px;
    cursor: pointer;
    display: none;
}
.color i{
    color: var(--mainColor) !important;
}
#nav-bar i{
    font-size: 28px;
    color: white;
}
/* HEADER SECTION END HERE  */
/* HERO SECTION START FROM HERE  */
#hero-section{
    padding: 280px 9% 150px;
    background: url(../images/background-image-00.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
#hero-section::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--shadow);
    z-index: -1;
}
#hero-section .hero-information{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#hero-section .hero-information h2{
    font-family: var(--headlineText);
    font-size: 20px;
    color: var(--white);
}
#hero-section .hero-information h1{
    font-size: 40px;
    color: var(--mainColor);
    font-family: var(--headlineText);
    font-weight: 700;
}
#hero-section .hero-information p{
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--articleText);
    text-align: center;
    text-transform: uppercase;
}
/* HERO SECTION END HERE */